<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/img/favicon.png}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sermões</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-light mt-2 container-fluid">
			<div class="container">
				<a class="navbar-brand" href="/posts"> <img
					th:src="@{/img/favicon.png}" width="30" height="30"
					class="d-inline-block align-top" alt=""> <span
					class="navbar-brand mb-0 h1" style="font-weight: bold;">Home</span>
				</a> <a href="/new" class="btn btn-info btn-sm justify-content-end"
					role="button">Novo Post</a>
			</div>
		</nav>
	</header>

	<main>
		<div class="container text-center">
			<h1>Sermão Expositivo</h1>
			<h4 class="text-muted">A Bíblia apresenta Jesus. Ela é a Palavra de Deus, a Verdade que liberta.</h4>
		</div>
		<hr>
		<div class="container mt-3">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Posts</li>
				</ol>
			</nav>

			<div class="card shadow-sm bg-white rounded mt-3"
				th:each="post : ${posts}">
				<div class="card-body">
					<a
						th:href="${(#mvc.url('PC#getPostDetails').arg(0, post.id)).build()}"><h3
							class="card-title">
							<span th:text="${post.titulo}"></span>
						</h3></a>

					<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
						<span th:text="${post.autor}"></span> <span th:text="${#temporals.format(post.data,'d/MM/yyyy')}"></span>
					</p>

					<p class="card-text">
						<span th:utext="${#strings.abbreviate(post.texto, 400)}"></span>
					</p>
				</div>
			</div>

		</div>
	</main>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>